body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(image2.jpg);
  background-size: cover; 
  background-repeat: repeat-y; 
  background-position: center; 
  height: 100vh; 
  margin: 0;
}
div.heading{
  display: inline-flex;
  margin-left: 490px;
  
}
h1 {

  text-align: center;
  background-color:beige ;
  padding: 10px;
  
}

h2 { margin-left: 200px;
}

.input-section {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 100px;
  margin-top: 50px;
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 0 6px 10px;
  background-color: beige;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
}

.input-section input[type="number"],
.input-section input[type="date"],
.input-section input[type="text"],
#category-select {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 90%; /* Adjust width for consistent inputs */
}

.input-section button {
  padding: 10px 15px;
  background-color: #af4c4c;
  color: white;
  border: double;
  border-radius: 4px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: chocolate;
}

.parent {
  display: flex;
  gap: 30px; /* Space between input and transaction sections */
  align-items: flex-start; /* Align to the top */
  padding: 20px;
}

.section {
  background-color: beige;
  display: flex;
  flex-direction: column; /* Stack transactions vertically */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.new-section {
  background-color: bisque;
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

p.abc {
  margin: 0; 
  padding: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column; 
}

#amount {
  font-weight: bold;
  color: #af4c4c;
  font-size: 220%;
}
.delete-btn{
  margin-left: 150px;
}

#imp{
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 0 6px 10px;
  background-color: beige;
  padding-right: 100px;
  padding-left: 10px;
}
